<!DOCTYPE html>
<html lang="en">

<title>Best Countries - DB Project</title>
<meta charset="UTF-8">
<meta name="description" content="Project for NCF Y1 Databases, 2020">
<meta name="author" content="Hutch, Kevin, Sumitra, and Viv">

<!-- Styling -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
table {
    border: 0px solid #FFFFFF;
    background-color: #FFFFFF;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
table, tbody, td {
    border: 0px solid #FFFFFF;
    font-weight: normal;
}
table, thead {
    border-bottom: 1px solid #8E8E8E;
}
table, thead, th {
  font-weight: bold;
  text-align: left;
  border: 0px solid #FFFFFF;
}
table, td, th{
    padding: 4px 4px;
}









</style>


<body>

<!-- Navbar (fixed top) -->
<div class="w3-top">
    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
        <a class="w3-bar-item"><b>DB Project</b> Best Countries</a>
    </div>
</div>

<!-- About Section -->
<div class="w3-container" style="background-color: #f2f3f5; padding:40px 0px 0px 20px">
    <div class="w3-container w3-padding-32">
        <h3>Welcome!</h3>
        <p>
            This is our interactive web app designed to investigate the question: <i>"What is the best country in which
            to live?"</i>
        </p>
        <p>
            The below sections strives to assist users in answering this question for themselves by giving them a
            easy way to explore data collected on various countries provided by the sources cited at the bottom of this
            page.
        </p>
    </div>
</div>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

    <!-- General Attributes Section -->
    <div class="w3-container" style="0px 0px 0px 32px" id="Plot1">
        <h3 class="w3-border-bottom w3-border-light-grey" style="padding-top:16px; padding-bottom:5px">
            Best Countries by Attributes
        </h3>

        <p>
            The charts below compare select indicators for education, health, workforce utilization, happiness,
            and military spending for each country (see next section for variable descriptions).
        </p>
        <p>
            These indicators can be used to compare countries on the desirability for data scientist residence.
            Traditionally, for a viable data science career, a country needed to provide the proper business
            environment, technical infrastructure, and properly trained workforce. In addition, health factors are
            important for any resident of the country. Military spending was included because it is representative of
            the overall influence of countries, and when choosing the desirability of a country for residence, some
            individuals may prefer to avoid countries that overly invest in military powers.
        </p>
        <p>
            An additional consideration is in the post-pandemic world, companies will be more open to employees and
            consultants working from the location of their choice. In this case, the major factors to allow a viable
            data science practice at the very basic level may only include reliable electricity and high-speed Internet
            service.
        </p>
        <br>
        <h5>Navigating the plots:</h5>
        <p>
            The bar chart has each attribute min-max scaled (from 0 to 1).
            The main purpose for the scaling is to allow direct comparisons between the countries and various attributes
            in a single visual.<br/>
            Hover over each bar for the country name associated with that bar, and other information.
            You may isolate any attributes you wish using the selector to the right by double clicking it.
            Double click again to revert to all attributes selected.
            Click once to select or deselect multiple attributes.
        </p>
        <p>
            The box-scatter plots contain points for each country, over which you can hover your mouse to view the
            country name and associated value.
            Use the dropdown to the left of the plot to view single attribute description and bar-scatter plot.
        </p>
        <br>
        {% include "plots1.html" %}
    </div>


    <!-- Attribute Descriptions Section -->
    <div class="w3-container w3-padding-32" id="Table1">
        <h3 class="w3-border-bottom w3-border-light-grey" style="padding-top:16px; padding-bottom:5px">
            Attribute Description Guide
        </h3>
        <p>This table contains a description of each attribute in the above plots.</p>
        <br>
        <table>
            {% for table in tables %}
            {{titles[loop.index]}}
            {{ table|safe }}
            {% endfor %}
        </table>
    </div>

    <!-- Data Science Salary Countries Section -->
    <div class="w3-container w3-padding-32" id="Plot2">
        <h3 class="w3-border-bottom w3-border-light-grey" style="padding-top:16px; padding-bottom:5px">
            Data Science Salaries by Country
        </h3>
        <p>
            We have included a chart of data scientist incomes below to help answer the only question all of us here are
            interested in:
        </p>
        <p>
            <i>"What is the best country for a data scientist to live in?"</i>
        </p>
        <p>
            This data was collected from the 2018 Kaggle ML & DS Survey, and include average pay by country for people
            with job titles:<br/>
            "Data Scientist", "Data Analyst", or "Data Engineer".<br><br>
            Mouse over the bars to view country names and average yearly salary estimates.
        </p>
        {% include "plots2.html" %}
    </div>


    <!-- Data Sources Section -->
    <div class="w3-container w3-padding-32">
        <h3 class="w3-border-bottom w3-border-light-grey" style="padding-top:16px; padding-bottom:5px">
            Data Sources
        </h3>
        <p>The data used in this app was pulled from the below sources.</p>
        <br>
        <a href="https://databank.worldbank.org/source/world-development-indicators">2018 World bank World Development
            Indicators</a>
        <p>World Development Indicators (WDI) is the World Bank’s premier compilation of cross-country comparable data
            on development.</p>
        <br>
        <a href="https://www.kaggle.com/kaggle/kaggle-survey-2018">2018 Kaggle ML & DS Survey</a>
        <p>The most comprehensive dataset available on the state of ML and data science</p>
        <br>
        <a href="https://worldhappiness.report/ed/2019/">World Happiness Report 2019</a>
        <p>The World Happiness Report is a landmark survey of the state of global happiness that ranks 156 countries by
            how happy their citizens perceive themselves to be. This year’s World Happiness Report focuses on happiness
            and the community: how happiness has evolved over the past dozen years, with a focus on the technologies,
            social norms, conflicts and government policies that have driven those changes.</p>
        <br>
    </div>
    <!-- End page content -->
</div>


<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
    <p>By Hutch, Kevin, Sumitra, and Viv</p>
    <p>NCF Class of 2022 :-)</p>
</footer>

</body>
</html>


