<!DOCTYPE html>
<html lang="en">

<title>Best Countries - DB Project</title>
<meta charset="UTF-8">
<meta name="description" content="Project for NCF Y2 Databases, 2020">
<meta name="author" content="Hutch, Kevin, Sumitra, and Viv">

<!-- Styling -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
table {
    border: 0px solid #FFFFFF;
    background-color: #FFFFFF;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
table, tbody, td {
    border: 0px solid #FFFFFF;
    font-weight: normal;
}
table, thead {
    border-bottom: 1px solid #8E8E8E;
}
table, thead, th {
  font-weight: bold;
  text-align: left;
  border: 0px solid #FFFFFF;
}
table, td, th{
    padding: 4px 4px;
}

</style>


<body>

<!-- Navbar (fixed top) -->
<div class="w3-top">
    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
        <a class="w3-bar-item"><b>DB Project</b> Best Countries</a>
    </div>
</div>


<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

    <!-- General Attributes Section -->
    <div class="w3-container w3-padding-32" id="Plot1">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Best Countries by Attributes</h3>
        <p>SUM TEXT HERE.</p>
        <br>
        {% include "plots1.html" %}
    </div>


    <!-- Attribute Descriptions Section -->
    <div class="w3-container w3-padding-32" id="Table1">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Attribute Description Guide</h3>
        <p>SUM TEXT HERE.</p>
        <br>
        <table>
            {% for table in tables %}
            {{titles[loop.index]}}
            {{ table|safe }}
            {% endfor %}
        </table>
    </div>

    <!-- Data Science Salary Countries Section -->
    <div class="w3-container w3-padding-32" id="Plot2">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Data Science Salaries by Country</h3>
        <p>SUM TEXT HERE.</p>
        {% include "plots2.html" %}
    </div>


    <!-- Data Sources Section -->
    <div class="w3-container w3-padding-32">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Data Sources</h3>
        <p>The data used in this app was pulled from the below sources.</p>
        <br>
        <a href="https://databank.worldbank.org/source/world-development-indicators">2018 World bank World Development Indicators</a>
        <p>World Development Indicators (WDI) is the World Bank’s premier compilation of cross-country comparable data on development.</p>
        <br>
        <a href="https://www.kaggle.com/kaggle/kaggle-survey-2018">2018 Kaggle ML & DS Survey</a>
        <p>The most comprehensive dataset available on the state of ML and data science</p>
        <br>
        <a href="https://worldhappiness.report/ed/2019/">World Happiness Report 2019</a>
        <p>The World Happiness Report is a landmark survey of the state of global happiness that ranks 156 countries by how happy their citizens perceive themselves to be. This year’s World Happiness Report focuses on happiness and the community: how happiness has evolved over the past dozen years, with a focus on the technologies, social norms, conflicts and government policies that have driven those changes.</p>
        <br>
    </div>
    <!-- End page content -->
</div>


<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
    <p>By Hutch, Kevin, Sumitra, and Viv</p>
    <p>NCF Class of 2022 :-)</p>
</footer>

</body>
</html>


