<!DOCTYPE html>
<html lang="en">

<title>Best Countries - DB Project</title>
<meta charset="UTF-8">
<meta name="description" content="Project for NCF Y2 Databases, 2020">
<meta name="author" content="Hutch, Kevin, Sumitra, and Viv">

<!-- Styling -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
table, td, th {
  border: 1px solid black;
}
table {
  width: 100%;
  border-collapse: collapse;
}
</style>


<body>

<!-- Navbar (fixed top) -->
<div class="w3-top">
    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
        <a class="w3-bar-item"><b>DB Project</b> Best Countries</a>
    </div>
</div>


<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

    <!-- General Attributes Section -->
    <div class="w3-container w3-padding-32" id="Plot1">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Best Countries by Attributes</h3>
        <p>SUM TEXT HERE.</p>
        {% include "plots1.html" %}
    </div>


    <!-- Attribute Descriptions Section -->
    <div class="w3-container w3-padding-32" id="Table1">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Attribute Description Guide</h3>
        <p>SUM TEXT HERE.</p>
        <table>
            {% for table in tables %}
            {{titles[loop.index]}}
            {{ table|safe }}
            {% endfor %}
        </table>
    </div>

    <!-- Data Science Salary Countries Section -->
    <div class="w3-container w3-padding-32" id="Plot2">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Data Science Salaries by Country</h3>
        <p>SUM TEXT HERE.</p>
        {% include "plots2.html" %}
    </div>

    <!-- End page content -->
</div>


<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
    <p>By Hutch, Kevin, Sumitra, and Viv</p>
    <p>NCF Class of 2022 :-)</p>
</footer>

</body>
</html>


